
.container {
    text-align: center;
    width: 90vw;
    margin: 0 auto;
}
.animation {
    background: lightcyan;
}
.space {
    background: white;
    height: 120vh;
}
#target2 {
    font-size: 40px;
}